.friends{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.friend .friend__avatar{
    width:50px;
    height:50px;
    border-radius:35%
}

.friend__avartar.g-avatar{
    width:100px;
    height:100px;
}/*
.g-avatar-friend__avatar{
    width:100px;
    height:100px;
}*/
.friend__column{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.friend__content{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
li{
    display:flex;
}
img{
    width
}
.friend__column{
    width:
    display:flex;
    justify-content: space-between;
}