.status-bar{
    position:sticky;
    width:100%;
    padding:10px 50px;
    top:0px;
    left:0px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #f7f7f7;

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.status-bar i{
    font-size: 14px;
}

.status-bar .status-bar__battery-level{
    margin-left: 5px;

}