@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');

@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "chat.css";
@import "friends.css";

*{
    box-sizing:border-box;
}
/* 
    모든 브라우저의 style 을 따르지 않고 통일된 크기를 정해주기 위해서 reset 사용
*/

body{
    background-color:white;
    padding:10px 20px;
    color:#020202;
    font-family: "Noto Sans KR" ;

}
ul { list-style:none; }

li { list-style:none; }

a{
    text-decoration: none;
    color:inherit;
}
